<div class='welcome'>
<div id="titlemessage">
<% unless current_account %>
<h1>Welcome to the Uckerbergs' Acebook</h1>
<%end%>
</div>
<div id='greeting'>
<p><%if current_account%>Hi <%=current_account.username%>! Tell your friends what you're up to! <%end%></p>
</div>
<div id="account_btn">
<% if account_signed_in? %>
  
<div id="splashpost">
<% @post = Post.new %>
<%= render './posts/form', controller: 'posts' %>
</div>

<% else %>
     
 <%= link_to 'Sign up', new_account_registration_path, class:'btn btn-success'%>
 <%= link_to 'Sign in', new_account_session_path, class:'btn btn-primary' %>

 <% end %>

 </div>

  </div>
</div>
