@import "bootstrap/scss/bootstrap";

h1 {
  font-size: 50px;
}

p{
  font-size: 30px;
}

a {
  color: black;
}

.indexlink p{
  font-size:20px;
  text-decoration: underline;
  font-weight: bolder;
}

.welcome h1{
  padding-top: 30%;

}

.animated p{
    font-size: 20px;
}

.comment a{
  font-size: 20px;
}

.comment p{
  font-size: 20px;
  text-decoration: none;
}

.show_com p{
  font-size:20px
}